<div class="container-fluid">

	<h1> eWarehouse - Detalhes de Venda </h1>

  	<ul class="nav nav-pills">
	    <li><%= link_to 'Início', sales_path %></li>
	    <li><%= link_to 'Nova Venda', new_sale_path %></li>
	    <li class="active"><%= link_to 'Detalhes Venda', sale_path %></li>
	</ul>

	<%if flash[:notice] %>
	  	<br/>
	    <div class="alert alert-success">
		    <a class="close" data-dismiss="alert">&times;</a>
		    <strong><%= flash[:notice] %></strong>
	    </div>
	<% end %>

	<table class="table table-hover" id="show_table">
		<thead>
			<tr>
				<th>Informações</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Código</td>
				<td><%= @sale.id %></td>
			</tr>
			<tr>
				<td>Comprador</td>
				<td><%= @sale.customer %></td>
			</tr>
			<tr>
				<td>Item:</td>
				<td><%= @sale.item %></td>
			</tr>
			<tr>
				<td>Valor Unitário:</td>
				<td><%= @sale.value %></td>
			</tr>
			<tr>
				<td>Quantidade:</td>
				<td><%= @sale.quantity %></td>
			</tr>
			<tr>
				<td>Endereço:</td>
				<td><%= @sale.address %><td>
			</tr>
			<tr>
				<td>Vendedor:</td>
				<td><%= @sale.salesperson %><td>
			</tr>
			<tr>
				<td>Valor Venda:</td>
				<td><%= @sale.quantity * @sale.value %></td>
			</tr>
		</tbody>
	</table>
</div>
